body {
    background-color: lightskyblue;
}

/* Navbar styling */

.bg-dark {
    background-color: black !important;
}


/* Neon effect taken from "https://www.tiny.cloud/blog/neon-fonts-and-glowing-text-get-started-in-two-steps/" */
h1 {
    font-size: 70px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FF6EC7, 0 0 20px #FF6EC7, 0 0 25px #FF6EC7, 0 0 30px #FF6EC7, 0 0 35px #FF6EC7;
}


a.nav-link {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FF6EC7, 0 0 20px #FF6EC7, 0 0 25px #FF6EC7, 0 0 30px #FF6EC7, 0 0 35px #FF6EC7;
}

@media screen and (max-width: 568px) {
    h1 {
        letter-spacing: 0;
        padding-left: 10px;
        padding-top: 4px;
        font-size: 40px;
    }
}

.navbar a {
    text-decoration: none;
}

.nav-item {
    padding-right: 2rem;
    font-size: 120%;
    letter-spacing: 2px;
}

.navbar-toggler {
    border: 0px;
}

@media screen and (max-width: 600px) {
    .navbar {
        padding: 0;
        padding-left: 3px;
    }
}

.fixed-top {
    margin-bottom: 0;
}

/* Hero Image */

.callout-container {
    height: 100vh;
    background: url(../images/Heroimage-pexels-brett-sayles.jpg) no-repeat center center fixed;
    background-size: cover;
    width: auto;
    position: relative;
}

.subtitle {
    font-size: 50px;
    margin-top: 30rem;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    margin-bottom: 0;
}

.fa-chevron-down {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FF6EC7, 0 0 20px #FF6EC7, 0 0 25px #FF6EC7, 0 0 30px #FF6EC7, 0 0 35px #FF6EC7;
    font-size: 25px;
    position: relative;
    left: 48%;
    top: 90%;
}

@media screen and (max-width: 600px){
.subtitle {
    font-size: 30px;
    margin-top: 15rem;
}
}


/* Timer Styling */

#timer.countdown {
    font-size: 50px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    margin-bottom: 0;
    margin-top: 3rem;
}

@media screen and (max-width: 600px){
    #timer.countdown {
        font-size: 30px;
    }
}


/* About Section */
p {
    font-size: 25px;
}

.map-click {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FF6EC7, 0 0 20px #FF6EC7, 0 0 25px #FF6EC7, 0 0 30px #FF6EC7, 0 0 35px #FF6EC7;
}

/* Map styling */

#map {
    height: 500px;
    width: 100%;
    margin-bottom: 3rem;
}


/* About section */

.about-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

h2 {
    font-size: 50px;
}


/* Footer styling */

footer {
    background-color: #343a40;
    color: #fff;
    text-align: left;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FF6EC7, 0 0 20px #FF6EC7, 0 0 25px #FF6EC7, 0 0 30px #FF6EC7, 0 0 35px #FF6EC7;
    margin-bottom: 0;
}

.footer-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.fa-envelope {
    margin-right: 6px;
    margin-left: 8px;
}

.form-control {
    margin-right: 4px;
}

.email-submit-button {
    height: 48px;
    margin-left: 4px;
}


/* social links with help from resume project */

.social-links li a i {
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FF6EC7, 0 0 20px #FF6EC7, 0 0 25px #FF6EC7, 0 0 30px #FF6EC7, 0 0 35px #FF6EC7;
    margin-right: 20px;
    padding-top: 2rem;
}

.social-links i:hover {
    color: pink;
}

.list-inline-item {
    margin-left: 3rem;
}

.disclaimer {
    padding-top: 2rem;
}

/* Gallery Page styling reference Traversy Youtube channel */

.gallery-container {
    max-width: 760px;
    margin: auto;
    height: 75vh;
    padding-top: 3rem;
}

.main-img img,
.imgs img {
    width: 100%;
}

.imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;

}


/* Booking page */
.booking-background {
    height: 75vh;
    background: url(../images/pexels-mahe-haroutinian-3748176.jpg) no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.booking-text {
    color: white;
    padding-top: 2rem;
}